@import 'src/styles';

$logoFont: var(--tui-font-heading-1);
$headerBackground: var(--tui-primary);
$headerTextColor: #FDF2E4;
$headerTextHoverColor: rgba(253, 242, 228, 0.6);

header {
  background: $headerBackground;
  box-shadow: $boxShadow;
  padding: 0 95px;
}

.wrapper {
  max-width: 1410px;
  height: 90px;
  margin: auto;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 170px;
}

.logo__title {
  font: $logoFont;
  color: $headerTextColor;
  margin: 0;
}

app-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 77px;
}

app-avatar {
  margin-left: auto;
}
