<header>
  <div class="wrapper">
    <div class="logo">
      <app-svg-image [imagePath]="logoPath"></app-svg-image>
      <h1 class="logo__title">Kanban</h1>
    </div>
    <ng-container *ngIf="user">
      <app-navigation></app-navigation>
      <ng-container *ngIf="user.displayName">
        <app-avatar [name]="user.displayName" [avatarUrl]="user.photoURL"></app-avatar>
      </ng-container>
      <mat-icon class="menu" [matMenuTriggerFor]="menu">menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu__create-board" (click)="openBoardDialog()">
          <mat-icon>create</mat-icon>
          <span>Create Board</span>
        </button>
        <button mat-menu-item class="menu__link" (click)="navigate(boardPath)">
          <mat-icon>dashboard</mat-icon>
          <span>Your Boards</span>
        </button>
        <button mat-menu-item class="menu__link" (click)="navigate(statisticsPath)">
          <mat-icon>show_chart</mat-icon>
          <span>Statistics</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
      <app-button [content]=buttonContent
                  [buttonAppearance]="buttonAppearance"
                  (click)="logout()">
      </app-button>
    </ng-container>
  </div>
</header>
