@import 'src/styles';

.mat-card {
  box-sizing: border-box;
  width: 280px;
  max-height: calc(100vh - 132px - 90px - 32px - 74px);
  height: fit-content;
  background: rgba(255, 255, 255, 0.59);
  margin-bottom: 32px;

  .card__container {
    height: 100%;
    margin-bottom: 0;
  }

  .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);

    .cdk-drag:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .cdk-drag-placeholder {
    .card__wrap {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px;

      .card {
        opacity: 0;
      }
    }
  }
}

.mat-card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

:root .mat-card-header .mat-card-title,
:root .mat-card-header .mat-card-subtitle {
  margin-bottom: 0;
  font-size: 24px;
}

:root .mat-card-header .mat-card-subtitle:not(:first-child) {
  margin-top: 0px;
}

:root .mat-card-header-text {
  margin: 0;
}

.mat-card-title {
  font: $cardHeaderFont;
  color: $mainTextColor;
}

.header__right-group {
  display: flex;
  grid-gap: 8px;
  justify-content: center;
  align-items: center;
}

.mat-card-subtitle {
  font: var(--tui-font-heading-6);
  color: var(--tui-link);
}

tui-scrollbar {
  height: inherit;
  max-height: calc(100vh - 132px - 90px - 74px);
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}

:root .mat-card-content {
  height: inherit;
  max-height: calc(100vh - 132px - 90px - 32px - 83px - 74px);
  min-height: 5px;
  margin-bottom: 0;
}
