@import 'src/styles';

.mat-card {
  box-sizing: border-box;
  width: 280px;
  max-height: calc(100vh - 132px - 90px - 32px);
  height: fit-content;
  background: white;
  margin-bottom: 32px;
}

.mat-card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.mat-card-title {
  font: $cardHeaderFont;
  color: $mainTextColor;
}

tui-scrollbar {
  height: inherit;
  max-height: calc(100vh - 132px - 90px - 32px - 75px - 74px);
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}

.mat-card-content {
  height: inherit;
  max-height: calc(100vh - 132px - 90px - 32px - 75px - 74px);
  margin-bottom: 0;
}
