<ng-container *ngIf="list">
  <mat-card cdkDropList
            [cdkDropListData]="cards"
            (cdkDropListDropped)="drop($event)"
            [id]="list.id">
    <mat-card-header class="mat-card-header">
      <mat-card-title class="mat-card-title">
        {{list.name}}
      </mat-card-title>
      <div class="header__right-group">
        <ng-container *ngIf="numberOfTasks">
          <mat-card-subtitle class="mat-card-subtitle">
            {{numberOfTasks}}
          </mat-card-subtitle>
        </ng-container>
        <button tuiIconButton [matMenuTriggerFor]="menu"
                [icon]="icon.IconMoreVertLarge"
                [size]="buttonSize"
                [appearance]="buttonAppearance.Flat">
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <ng-container *ngIf="!cards.length">
          <button mat-menu-item (click)="deleteList(list.id)">
            <mat-icon>delete_outline</mat-icon>
            <span>Delete</span>
          </button>
        </ng-container>
        <button mat-menu-item (click)="openUpdateListDialog(list.id, list.name)">
          <mat-icon>title</mat-icon>
          <span>Rename</span>
        </button>
        <ng-container *ngIf="list.createdBy">
          <button mat-menu-item disabled>
            <span>Creator: {{list.createdBy}}</span>
          </button>
        </ng-container>
      </mat-menu>
    </mat-card-header>
    <tui-scrollbar [hidden]="true">
      <mat-card-content class="card__container">
        <ng-container *ngFor="let card of cards; trackBy: trackByFn">
          <app-task-card [board]="board"
                         [card]="card"
                         [cdkDragData]="card"
                         cdkDrag>
          </app-task-card>
        </ng-container>
      </mat-card-content>
    </tui-scrollbar>
  </mat-card>
</ng-container>
