@import 'src/styles';

$cardBackground: var(--tui-secondary);
$cardTextFont: var(--tui-font-heading-6);
$statusNormalColor: var(--tui-positive);
$statusCriticalColor: var(--tui-negative);
$statusBlockedColor: var(--tui-warning-fill);

.card {
  margin: 16px 0 0;
  background: $cardBackground;
}

.card__title {
  display: flex;
  font: $cardTextFont;
  justify-content: space-between;
}

.card__checklist {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  margin-bottom: 8px;
}

.card__checklist-number {
  margin: 0;
}

.mat-chip.mat-standard-chip::after {
  background: transparent;
}

.chip__priority {
  background: none;
  border: 1px solid $statusNormalColor;
  color: $statusNormalColor;
}

.critical {
  border: 1px solid $statusCriticalColor;
  color: $statusCriticalColor;
}

.blocked {
  border: 1px solid $statusBlockedColor;
  color: $statusBlockedColor;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
