@import 'src/styles';

$boardPadding: 42px 30px;
$sidebarBackground: #FFFFFF;

.sidebar {
  box-sizing: border-box;
  width: 280px;
  max-width: 280px;
  height: calc(100vh - 90px);
  background: $sidebarBackground;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  padding: $boardPadding;
}

.sidebar__title {
  font: $mainHeaderFont;
  color: $mainTextColor;
  margin: 0 0 44px;
}

.sidebar__boards {
  display: flex;
  max-height: calc(100vh - 250px - 65.8px);
  flex-direction: column;
  grid-gap: 14px;
}

.sidebar__board-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar__board-title {
  color: $secondaryTextColor;
  font: $mainTextFont;
}
