<div class="main-container">
  <mat-drawer-container [hasBackdrop]="true">
    <mat-drawer #drawer mode="over">
      <app-sidebar [drawer]="drawer"></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
      <button
        tuiButton
        class="button__sidebar"
        [size]="buttonSize"
        [shape]="buttonShape.Rounded"
        (click)="drawer.toggle()">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <div class="board">
        <img class="board__background" [src]="imagePath" alt="background">
        <tui-scrollbar class="main-scroll" [hidden]="true">
          <router-outlet></router-outlet>
        </tui-scrollbar>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
