<ng-container *ngIf="data.card">
  <tui-scrollbar [hidden]="true">
    <div class="card__container">
      <div class="card__main-inform">
        <div class="card__header">
          <h1 class="card__title">{{data.card.name}}</h1>
          <mat-icon mat-dialog-close (click)="openUpdateCardDialog(data.card)">update</mat-icon>
          <mat-icon mat-dialog-close (click)="deleteCard(data.card.id)">delete_outline</mat-icon>
        </div>

        <div class="card__description">
          <h3 class="card__description-title">Description</h3>
          <p class="card__description-content">{{data.card.description}}</p>
        </div>

        <div class="card__images">
          <ng-container *ngFor="let image of data.card.images; trackBy: trackByFn">
            <div class="card__images-container">
              <img [src]="image" alt=""/>
            </div>
          </ng-container>
        </div>

        <div>
          <label class="label__add-image"
                 for="file"
                 [style]="labelStyle">
            <mat-icon>attach_file</mat-icon>
            Choose image(s)
          </label>
          <input
            class="input__add-image"
            type="file"
            id="file"
            [disabled]="isDisable"
            (change)="onFileSelected($event)"
            autocomplete="off"
            accept=".jpg, .jpeg, .png"
            multiple
          />

          <p class="image__error" [style]="formatErrorStyle">You can only upload JPEG, JPG and PNG formats</p>
          <p class="image__error" [style]="sizeErrorStyle">You can upload images up to 5MB in size</p>

          <progress *ngIf="isDisable" max="100" [value]="progress"></progress>

          <ng-container *ngFor="let name of errorsFilesNames; trackBy: trackByFn">
            <div class="error__container">
              <p class="error__text">
                <mat-icon>error_outline</mat-icon>
                {{name}}
              </p>
            </div>
          </ng-container>
        </div>

        <div class="card__history">
          <h3 class="card__description-title">History</h3>
          <tui-scrollbar>
            <div class="card__history-content">
              <p class="card__description-content"
                 *ngFor="let history of data.card.history; trackBy: trackByFn">{{history}}</p>
            </div>
          </tui-scrollbar>
        </div>
      </div>

      <div class="card__additional-inform">
        <div class="card__status" *ngIf="list">
          <h3>STATUS</h3>
          <p>{{list.name}}</p>
        </div>

        <div class="card__reporter" *ngIf="reporter">
          <h3>REPORTER</h3>
          <div class="card-avatar">
            <app-avatar [name]="reporter.name" [avatarUrl]="reporter.avatarURL"></app-avatar>
            <p>{{reporter.name}}</p>
          </div>
        </div>

        <div class="card__member" *ngIf="member">
          <h3>ASSIGNEES</h3>
          <div class="card-avatar">
            <app-avatar [name]="member.name" [avatarUrl]="member.avatarURL"></app-avatar>
            <p>{{member.name}}</p>
          </div>
        </div>

        <div class="card__priority">
          <h3>PRIORITY</h3>
          <p>{{data.card.priority}}</p>
        </div>

        <div class="card__dueDate">
          <h3>DUE DATE</h3>
          <p>{{getDate(data.card.dueDate?.seconds)}}</p>
        </div>

        <div class="card__date-inform">
          <p>Created - {{data.card.createDate}}</p>
          <p>Updated - {{data.card.updateDate}}</p>
        </div>
      </div>
    </div>
  </tui-scrollbar>
</ng-container>
