<div class="board">
  <img class="board__background" src="{{srcIm}}" alt="">
  <div class="board__header">
    <h2 class="board__title">{{boardTitle}}</h2>
    <div class="board__members">
      <ng-container *ngFor="let name of members">
        <app-avatar [name]="name"></app-avatar>
      </ng-container>
      <button tuiIconButton icon="tuiIconPlus" style="width: 48px; height: 48px;" shape="rounded"></button>
    </div>
  </div>
  <tui-scrollbar [hidden]="true">
    <div class="board__lists">
      <ng-container *ngFor="let list of lists">
        <app-board-list [list]="list"></app-board-list>
      </ng-container>
      <app-button [content]="buttonAdd"></app-button>
    </div>
  </tui-scrollbar>
</div>
