<form [formGroup]="listForm">

  <h3 class="tui-form__header tui-form__header_margin-top_none">
    {{formHeader}}
  </h3>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>List Name</mat-label>
      <input matInput placeholder="Input list name" [formControlName]="formControls.name" [value]="listName"
             autocomplete="off">
      <mat-error *ngIf="isControlValid(formControls.name) && currentError === errors.Required">
        List name is <strong>required</strong>.
      </mat-error>
      <mat-error *ngIf="isControlValid(formControls.name) && currentError === errors.MaxLength">
        Max length is <strong>16</strong>.
      </mat-error>
      <mat-error *ngIf="isControlValid(formControls.name) && currentError === errors.Exist">
        List name is already <strong>exist</strong>.
      </mat-error>
    </mat-form-field>
  </p>

  <div>
    <button
      tuiButton
      mat-dialog-close
      class="tui-form__button"
      type="submit"
      [size]="buttonSize"
      [appearance]="buttonAppearance.Primary"
      [disabled]="listForm.invalid"
      (click)="isCreating ? submitForm() : submitUpdatingForm(id)"
    >
      Submit
    </button>

    <button
      tuiButton
      mat-dialog-close
      class="tui-form__button"
      type="button"
      [size]="buttonSize"
      [appearance]="buttonAppearance.Secondary"
    >
      Cancel
    </button>
  </div>

</form>
